:root {
	/* ------- colors ------- */
	--primary-color: #fffdfd;
	--secondary-color: #fefefe;
	--tertiary-color: #fdfdfd;
	--quaternary-color: #e4e4e7;
	--link-color: #b81414;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
